{% extends "base.html" %}
{% block title %}文件管理{% endblock %}
{% block style %}
  <style>
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <a type="button" class="btn btn-sm btn-primary" onclick="uploadFile()">
            <i class="fas fa-upload"></i>
            上传文件
          </a>
          <a type="button" class="btn btn-sm btn-success" onclick="createFolder()">
            <i class="fas fa-plus"></i>
            新建文件夹
          </a>
          <a type="button" class="btn btn-sm btn-success" onclick="createFile()">
            <i class="fas fa-plus"></i>
            新建空白文件
          </a>
        </div>
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
          </nav>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>名称</th>
                <th width="10%">大小</th>
                <th width="15%">修改时间</th>
                <th width="5%">权限</th>
                <th width="25%">所有者</th>
                <th width="15%">操作</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="card-footer clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}<script src="/static/js/files.js"></script>{% endblock %}
